<aside>

<h4><i class="bi bi-funnel"></i> Filtres</h4>
<div class="form-container searchButtons">
    {# <input type="submit" value="Search" id="search" class="btn btn-light"> #}
    <input type="reset" value="Réinitialiser" id="reset" class="btn btn-light">
</div>
<hr>


<div class="form-container">

<label for="minprice">A partir de : <span id="minprice"></span></label>
    <input type="range" name="min" id="min" min="0" max="1000" value = "0" class="range">
    <label for="maxprice">Jusqu'à : <span id="maxprice"></span></label>
    <input type="range" name="max" id="max" min="0" max="1000" value = "0"class="range">

    <div class="range-values">
      <span id="minOutput"></span> € - <span id="maxOutput"></span> €
    </div>

<label for="text">Rechercher</label>
    <input type="text" name="text" id="text" class="form-control">
<hr>
    <div class="filter_choices">
        <div class="brandCheckboxes">
            <h5><i class="bi bi-list-check"></i> Marques</h5>
            <ol>
            {% for brand in brands.getBrands() %}
                <li><input type="checkbox" name="brand" value="{{ brand.name }}" class="brandCheckbox"> {{ brand.name }}</li>
            {% endfor %}
            </ol>
        </div>
    <hr>
        <div class="brandCheckboxes">
            <h5><i class="bi bi-list-check"></i> Categories</h5>
            <ol>
            {% for cat in catsAndSubCats.getOnlyCatsAndOnlySubCats() %}
            {{ cat.catName }}
            {% for subCat in cat.subCategories %}
                <li><input type="checkbox" name="category" value="{{ cat.catName }} {{ subCat.subCatName  }}" class="brandCheckbox"> {{ subCat.subCatName }}</li>
            {% endfor %}
            {% endfor %}
            </ol>
        </div>
    </div>
</div>


</aside>

{% block javascripts %} 
 <script src="/assets/js/asideSearchFilter.js" defer></script>
{% endblock %}
