<aside>
<div class="asideContent">
<h4><i class="bi bi-funnel"></i> Filtres</h4>
<hr>
    <div class="form-container">
    {# <h5><i class="bi bi-currency-euro"></i> Prix</h5> #}
        {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
        {{ form_end(form) }}
        <form class="resetForm" action="{{ path('app_home') }}" method="post">
            <button type="submit" id="reset_submit" name="resetSearch" value="resetSearch" class="btn btn-light">Reset</button>
        </form> 
    </div>
<hr>
    <div class="brandCheckboxes">
        <h5><i class="bi bi-list-check"></i> Marques</h5>
        <ol>
        {% for brand in brands.getBrands() %}
            <li><input type="checkbox" name="brand" value="{{ brand.name }}" class="brandCheckbox"> {{ brand.name }}</li>
        {% endfor %}
        </ol>
    </div>
</div>
<hr>
</aside>
