<!-- Footer start -->
<footer class="text-center">
    <!-- open container -->
        <!-- Start Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>SNEAKERS SHOP</span>
          </div>
          <!-- Left -->
    
          <!-- Right -->
          <div> 
            <a href="https://www.linkedin.com/in/simon-chabrier/" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/SimonChabrier" class="me-4 text-reset"><i class="fab fa-github"></i></a>
          </div>
          <!-- Right -->
        </section>
        <!-- End Social media -->
    
        <!-- start 4 sections footer  -->
        <section class="footerSection">
          <div class="container text-center text-md-start mt-5">
            <!-- Open Row -->
            <div class="row mt-3">
    
              <!-- start Col 1 -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">SNEAKERS SHOP :</h6>

              <div class="navbar-collapse" id="footer_navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% for cat in catsAndSubCats.getOnlyCatsAndOnlySubCats() %}      
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ cat.catId }}" role="button" aria-expanded="false">{{ cat.catName }}</a>
                                <ul class="dropdown-menu slide" aria-labelledby="navbarDropdown{{ cat.catId }}">
                                    {% for subCat in cat.subCategories %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_sub_category_show', {'id': subCat.subCatId}) }}">{{ subCat.subCatName }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>


              </div>
              <!-- end Col 1 -->
    
              <!-- start Col 2 -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">STACK</h6>
                <ol>
                  <li>
                  <a href="https://symfony.com/5" class="text-reset"><b>Symfony 5.4</b></a>
                  </li>
                    <li>
                    <a href="https://www.php.net/" class="text-reset"><b>PHP 8.1</b></a>
                    </li>
                    <li>
                    <a href="https://www.mysql.com/fr/" class="text-reset"><b>MySQL</b></a>
                    </li>
                    <li>
                    <a href="https://developer.mozilla.org/fr-FR/docs/Web/JavaScript" class="text-reset"><b>Javascript</b></a>
                    </li>
                    <li>
                    <a href="https://getbootstrap.com/" class="text-reset"><b>Bootstrap 5</b></a>
                    </li>
                    <li>
                    <a href="https://twig.symfony.com/" class="text-reset"><b>Twig</b></a>
                    </li>
                </ol>
              </div>
              <!-- end Col 2 -->
    
              <!-- start Col 3 -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">USER ACCOUNT</h6>
                <ol>
                    <li>
                        <a href="{{ path('app_login') }}" class="text-reset">Login</a>
                    </li>
                    <li>
                        <a href="{{ path('app_register') }}" class="text-reset">Register</a>
                    </li>
                    <li>
                        <a href="{{ path('app_forgot_password_request') }}" class="text-reset">Forgot password</a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}" class="text-reset">Logout</a>
                    </li>
                </ol>
              </div>
              <!-- end Col 3 -->
    
              <!-- start Col 4 -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Add Links -->
                <h6 class="text-uppercase fw-bold mb-4"><i class="bi bi-person-circle"> Sneakers Shop</i></h6>
                <ol>
                <li>
                  <i class="bi bi-geo-alt-fill"></i>  1 rue de la paix, 75000 Paris
                </li>
                <li>
                  <i class="bi bi-telephone-fill"></i>  06 00 00 00 00
                </li>
                <li>
                  <i class="bi bi-envelope-fill"> contact@contact.fr</i>
                </li>
                <ol>
              </div>
              <!-- end Col 4 -->
            </div>
            <!-- Close row -->
          </div>
        </section>
        <!-- End 4 section Links  -->
    
          <!-- start Copyright -->
          <div class="text-center p-4">
          <hr>
            <p>© Chabrier Simon - 2023</p>
          </div>
          <!-- end Copyright -->
      <!-- end container -->  
</footer>

<script>
$(document).ready(function() {
    $('.dropdown-toggle').click(function(e) {
        e.preventDefault();
        // on récupère le menu déroulant
        let dropdownMenu = $(this).siblings('.dropdown-menu.slide');
        // on ouvre le menu déroulant courant en slide 
        dropdownMenu.slideToggle();
        // et on ferme les autres dropdowns
        $('.dropdown-menu.slide').not(dropdownMenu).slideUp();
    });
});
</script>





