{# <nav>
  <ul>
    <li><a href="{{ path('app_home') }}">Accueil</a></li>
    <li class="vertical-bar">|</li>
    <li><a href="{{ path('app_user_index') }}">Users</a></li>
    <li class="vertical-bar">|</li>
    <li><a href="{{ path('app_comment_index') }}">Commentaires</a></li>
    <li class="vertical-bar">|</li>
    <li><a href="{{ path('app_category_index') }}">Catégories</a></li>
    <li class="vertical-bar">|</li>
    <li><a href="{{ path('app_sub_category_index') }}">Sous Catégories</a></li>
    <li class="vertical-bar">|</li>
    <li><a href="{{ path('app_product_index') }}">Produits</a></li> 
    <li class="vertical-bar">|</li>
    <li><a href="{{ path('app_admin') }}">Admin</a></li>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <li><a href="{{ path('app.logout') }}">Déconnexion</a></li>
    {% else %}
    <li><a href="{{ path('app.login') }}">Connexion</a></li>
    {% endif %}
  </ul>
</nav> #}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {# <a class="navbar-brand" href="{{ path('app_home') }}">Accueil</a> #}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {% for cat in nav.getNav() %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ path('app_category_index', {'id': cat.catId}) }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ cat.catName }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          {% for subCat in cat.subCategories %}
              <a class="dropdown-item" href="{{ path('app_sub_category_show', {'id': subCat.subCatId}) }}">{{ subCat.subCatName }}</a>
          {% endfor %}

          {# <a class="dropdown-item" href="#">Action</a>
          

          {# <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> #}
        </div>
      </li>
      {% endfor %}


      {# <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li> #}

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
    </form>

  </div>
</nav>