
{% if searchResults is not defined or searchResults|length is same as 0 %}
    {% if searchValue is defined and searchValue|length > 0 %}
        <div style="border:1px solid white; padding:30px; border-radius:20px; margin: 20px 0">
            <ol>
                <li>Pas de produit trouvé pour la recherche : {{ searchValue }}</li>
            </ol>
        </div>
    {% endif %}
{% endif %}

{% if searchResults is defined and searchResults|length is not same as 0 %}
<hr>
<h5>Résultats de la recherche : </h5>
<div class="last-five-products searchResults">
    {% for product in searchResults %}
        <section>  

            <h6> {{ product.name|upper }}</h6>
            <img class="last-five-picture" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/acc1f836e10a4c1191dbae2801556d8d_9366/Chaussure_Ultraboost_5_DNA_Running_Sportswear_Lifestyle_Blanc_GV8747_01_standard.jpg" alt="">
                        
                <span class="selling-price">{{ product.sellingPrice }} €</span>
            <div class="productInfo">
                <span class="categorie">Catagorie : {{ product.category }}</span>
                <span class="sous-categorie">Sous-categorie : {{ product.subCategory }}</span>
                <span class="type">Type : {{ product.productType }}</span>
            </div>

            <div class="productInfoFooter">
            {% set discount = (product.catalogPrice - product.sellingPrice ) / product.catalogPrice * 100 %}
                <span>-{{ discount|round }}%</span> 
                <span class="productLink"><a href="{{ path('app_product_show', {'id': product.id}) }}">Détail</a></span>
            </div>
       
        </section>
    {% endfor %}
</div>
<h5>Fin des résultats de la recherche...</h5>
<hr>
{% endif %}

