{% extends 'base.html.twig' %}

{% block content %}

<div class="last-five searchResults">
{# résultats de la recherche #}
{% include '_fragments/_searchResults.html.twig' %} 
</div>


{# affiche les produits de chaque category #}
<div class="last-five swiper">
{% for category in homeCats %}
    <h2>{{ category.name|upper }}</h2>
    {% set categoryProducts = category.products|slice(0, 4) %}
    <div class="swiper-wrapper">
        {% for product in categoryProducts %}
            <section class="swiper-slide">
                <h6>{{ product.name|upper }}</h6>
                {% for picture in product.pictures %}
                    {% if picture %}
                    {# get just last picture #}
                    {% if loop.last %}
                        <img class="last-five-picture" src="uploads/files/pictures/{{ picture.getFilename }}" alt="{{ picture.alt }}" width >
                    {% endif %}
                    {% endif %}
                {% else %}
                    <img class="last-five-picture" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/acc1f836e10a4c1191dbae2801556d8d_9366/Chaussure_Ultraboost_5_DNA_Running_Sportswear_Lifestyle_Blanc_GV8747_01_standard.jpg" alt="" loading="lazy">
                {% endfor %}
                <span class="catalog-price"><del>{{ product.catalogPrice }} €</del></span>
                <span class="selling-price">{{ product.sellingPrice|number_format(0, ',', ' ') }} €</span>
                <div class="productInfo">
                    {% if product.category is not empty %}
                    <span class="categorie">Categorie : {{ category.name }}</span>
                    {% endif %}
                    {% if product.subCategory is not empty %}
                        <span class="sous-categorie">Sous-categorie : {{ product.subCategory.name }}</span>
                    {% endif %}
                    <span class="type">Type : {{ product.productType }}</span>
                </div>
                <div class="productInfoFooter">
                    {% set discount = (product.catalogPrice - product.sellingPrice ) / product.catalogPrice * 100 %}
                    <span>-{{ discount|round }}%</span> 
                    <span class="productLink"><a href="{{ path('app_product_show', {'id': product.id}) }}">Détail</a></span>
                </div>
            </section>
        {% endfor %}
        </div>
    <div class="swiper-pagination"></div>
</div>

{# affiche les produits de chaque sous category #}

<div class="last-five">
    {% for subCategory in category.subCategories %}
        <h3>{{ category.name|upper }} - {{ subCategory.name|upper }}</h3>

        <div class="last-five-products">
        {% set subCategoryproducts = subCategory.products|slice(0, 4) %}
            {% for product in subCategoryproducts %}
                <section>
                    <h6>{{ product.name|upper}}</h6>
                    <img class="last-five-picture" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/acc1f836e10a4c1191dbae2801556d8d_9366/Chaussure_Ultraboost_5_DNA_Running_Sportswear_Lifestyle_Blanc_GV8747_01_standard.jpg" alt="..." loading="lazy">
                    <span class="catalog-price"><del>{{ product.catalogPrice }} €</del></span>
                    <span class="selling-price">{{ product.sellingPrice|number_format(0, ',', ' ') }} €</span>
                    <div class="productInfo">
                        <span class="categorie">Categorie : {{ category.name }}</span>
                        <span class="sous-categorie">Sous-categorie : {{ subCategory.name }}</span>
                        <span class="type">Type : {{ product.productType }}</span>
                    </div>
                    <div class="productInfoFooter">
                        {% set discount = (product.catalogPrice - product.sellingPrice ) / product.catalogPrice * 100 %}
                        <span>-{{ discount|round }}%</span> 
                        <span class="productLink"><a href="{{ path('app_product_show', {'id': product.id}) }}">Détail</a></span>
                    </div>
                </section>
            {% endfor %}
        </div>
    {% endfor %}
{% endfor %}
</div>

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
    {# https://swiperjs.com/get-started #}
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const swiper = new Swiper('.swiper', {
    // use arrows to navigate
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
        clickable: true,
        dynamicBullets: true,
        dynamicMainBullets: 5,
    },

    //effect: 'fade',
    //fadeEffect: {
    //crossFade: true
    //},

    // Optional parameters
    slidesPerView: 4,
    direction: 'horizontal',
    //spaceBetween: 10,
    
    autoplay: {
        delay: 5000,
        // stop slide autoplay when user click on it
        disableOnInteraction: true,
    },

    transitionEffect: 'slide',

    loop: true,
    centeredSlides: true,

    // theme color
    // scrollbar: {
    //     el: '.swiper-scrollbar',
    //     draggable: true,
    //     dragSize: 100,
    //     snapOnRelease: true,
    //     hide: false,
    //     },

    // Responsive breakpoints
    breakpoints: {
        // when window width is >= 320px
        320: {
        slidesPerView: 1,
        spaceBetween: 10
        },
        // when window width is >= 480px
        480: {
        slidesPerView: 2,
        spaceBetween: 20
        },
        // when window width is >= 640px
        640: {
        slidesPerView: 3,
        spaceBetween: 30
        },
        1024: {
        slidesPerView: 4,
        spaceBetween: 40
        }
    }
    });
});
</script>

{% endblock %}

{% endblock %} 






