{% extends 'base.html.twig' %}
{% block content %}

<div class="last-five searchResults">
    {# résultats de la recherche #}
    {% include '_fragments/_searchResults.html.twig' %}
</div>


{% if cache %}

<div class="last-five swiper">
    {% for category in homeCats %}
        <a href="{{ path('app_category_show', {'id': category['id']}) }}"><h2>{{ category['name']|upper }}</h2></a>

            {% if category['products'] is not empty and category['name'] == 'Nouveautés' %}
            <div class="swiper-wrapper">
                {% set categoryProducts = category['products']|slice(-4)|reverse %}
                {% for product in categoryProducts %}
                    <section class="swiper-slide">
                        {% include '_fragments/_product_array.html.twig' %} 
                    </section>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            {% else %}
                {# On ne veut pas afficher ailleurs que dans le slider des produits à la racine d'une catégorie #}
                {% set categoryProducts = [] %} 
            {% endif %}
 </div> 

 <div class="last-five">       
        {% for subCategory in category['subCategories'] %}
            <a href="{{ path('app_sub_category_show', {'id': subCategory['id']}) }}"><h3>{{ category['name']|upper }} - {{ subCategory['name']|upper }}</h3></a>
            <div class="last-five-products">
                {% set subCategoryProducts = subCategory['products']|slice(-4) %}
                {% for product in subCategoryProducts %}
                    <section>
                        {% include '_fragments/_product_array.html.twig' %} 
                    </section>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% else %}

<div class="last-five swiper">
    {% for category in homeCats %}
        <a href="{{ path('app_category_show', {'id': category.id}) }}"><h2>{{ category.name|upper }}</h2></a>

            {% if category.products is not empty and category.name == 'Nouveautés' %}
            <div class="swiper-wrapper">
                {% set categoryProducts = category.products|slice(-4)|reverse %}
                {% for product in categoryProducts %}
                    <section class="swiper-slide">
                        {% include '_fragments/_product_object.html.twig' %} 
                    </section>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            {% else %}
                {# On ne veut pas afficher ailleurs que dans le slider des produits à la racine d'une catégorie #}
                {% set categoryProducts = [] %} 
            {% endif %}
 </div> 

 <div class="last-five">       
        {% for subCategory in category.getSubCategories %}
            <a href="{{ path('app_sub_category_show', {'id': subCategory.id}) }}"><h3>{{ category.name|upper }} - {{ subCategory.name|upper }}</h3></a>
            <div class="last-five-products">
                {% set subCategoryProducts = subCategory.products|slice(-4) %}
                {% for product in subCategoryProducts %}
                    <section>
                        {% include '_fragments/_product_object.html.twig' %} 
                    </section>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</div>    
{% endif %}







{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const swiper = new Swiper('.swiper', {
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    type: 'bullets',
                    clickable: true,
                    dynamicBullets: true,
                    dynamicMainBullets: 5,
                },
                slidesPerView: 4,
                direction: 'horizontal',
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: true,
                },
                transitionEffect: 'slide',
                loop: true,
                centeredSlides: true,
                breakpoints: {
                    320: { slidesPerView: 1 },
                    480: { slidesPerView: 2 },
                    640: { slidesPerView: 3 },
                    1024: { slidesPerView: 4 },
                },
            });
        });

    // fetch /api/categories

    const endPoint = window.location.origin + '/api/categories';

    async function logMovies() {
    const response = await fetch(endPoint);
    const movies = await response.json();
    console.log(movies);
    }

    logMovies();

    </script>
{% endblock %}

{% endblock %}