{% extends 'base.html.twig' %}

{% block content %}
{# {{ dump(homeCats) }} #}
<div class="last-five searchResults">
    {# résultats de la recherche #}
    {% include '_fragments/_searchResults.html.twig' %}
</div>

<div class="last-five swiper">
    {% for category in homeCats %}
        <a href="{{ path('app_category_show', {'id': category['id']}) }}"><h2>{{ category['name']|upper }}</h2></a>
        <div class="swiper-wrapper">
        {# si la category a des produits Eg "nouveautés"  #}
            {% if category['products'] is not empty %}
                {% set categoryProducts = category['products']|slice(0, 4)|reverse %}
            {% else %}
            {# sinon c'est qu'elle n'a pas de produits et donc on va chercher les produits de ses sous-catégories et on vide le tableau categoryProducts
            pour ne pas que les produits qui sont dans le slider se retourvent aussi ailleurs et créent un bug de slide en permettant à d'autres zones du
            template de slider #}
                {% set categoryProducts = [] %} 
                {# ensuite on boucle sur les sous-catégories de la catégorie en cours et on rempli le tableau categoryProducts avec les produits de chaque sous-catégorie #}
                {% for subCategory in category['subCategories'] %}
                    {% set subCategoryProducts = subCategory['products']|slice(0, 4)|reverse %}
                {% endfor %}
            {% endif %}

            {% for product in categoryProducts %}
                <section class="swiper-slide">
                    <h6>{{ product['name']|upper }}</h6>
                     {% set lastPicture = product.pictures|first %}
                    <img class="last-five-picture" src="{{ lastPicture ? 'uploads/files/pictures/' ~ lastPicture['fileName'] : '/assets/pictures/defaultSneakersPicture.webp' }}" alt="{{ lastPicture ? lastPicture['alt'] : '' }}" loading="lazy">
                    <span class="catalog-price"><del>{{ product['catalogPrice'] }} €</del></span>
                    <span class="selling-price">{{ product['sellingPrice']|number_format(0, ',', ' ') }} €</span>
                    <div class="productInfo">
                        <span class="categorie">Catégorie : {{ category['name'] }}</span>
                        {% if product['subCategory'] is not empty %}
                            <span class="sous-categorie">Sous-catégorie : {{ product['subCategory'].getName()}}</span>
                        {% endif %}
                        <span class="type">Type : {{ product['productType'] }}</span>
                        <span class="brand">Marque : {{ product['brand'] }}</span>
                    </div>
                    <div class="productInfoFooter">
                        {% set discount = ((product['catalogPrice'] - product['sellingPrice']) / product['catalogPrice'] * 100)|round %}
                        <span>-{{ discount }}%</span>
                        <span class="productLink"><a href="{{ path('app_product_show', {'id': product['id']}) }}">Détail</a></span>
                    </div>
                </section>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        
        {% for subCategory in category['subCategories'] %}
            <a href="{{ path('app_sub_category_show', {'id': subCategory['id']}) }}"><h3>{{ category['name']|upper }} - {{ subCategory['name']|upper }}</h3></a>
            <div class="last-five-products">
                {% set subCategoryProducts = subCategory['products']|slice(0, 4)|reverse %}
                {% for product in subCategoryProducts %}
                    <section>
                        <h6>{{ product['name']|upper }}</h6>
                        {% set lastPicture = product.pictures|first %}
                        <img class="last-five-picture" src="{{ lastPicture ? 'uploads/files/pictures/' ~ lastPicture['fileName'] : '/assets/pictures/defaultSneakersPicture.webp' }}" alt="{{ lastPicture ? lastPicture['alt'] : '' }}" loading="lazy">
                        <span class="catalog-price"><del>{{ product['catalogPrice'] }} €</del></span>
                        <span class="selling-price">{{ product['sellingPrice']|number_format(0, ',', ' ') }} €</span>
                        <div class="productInfo">
                            <span class="categorie">Catégorie : {{ category['name'] }}</span>
                            <span class="sous-categorie">Sous-catégorie : {{ subCategory['name'] }}</span>
                            <span class="type">Type : {{ product['productType']}}</span>
                            <span class="brand">Marque : {{ product['brand']}}</span>
                        </div>
                        <div class="productInfoFooter">
                            {% set discount = ((product['catalogPrice'] - product['sellingPrice']) / product['catalogPrice'] * 100)|round %}
                            <span>-{{ discount }}%</span>
                            <span class="productLink"><a href="{{ path('app_product_show', {'id': product['id']}) }}">Détail</a></span>
                        </div>
                    </section>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</div>




{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const swiper = new Swiper('.swiper', {
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    type: 'bullets',
                    clickable: true,
                    dynamicBullets: true,
                    dynamicMainBullets: 5,
                },
                slidesPerView: 4,
                direction: 'horizontal',
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: true,
                },
                transitionEffect: 'slide',
                loop: true,
                centeredSlides: true,
                breakpoints: {
                    320: { slidesPerView: 1 },
                    480: { slidesPerView: 2 },
                    640: { slidesPerView: 3 },
                    1024: { slidesPerView: 4 },
                },
            });
        });

    // fetch /api/categories

    const endPoint = window.location.origin + '/api/categories';

    async function logMovies() {
    const response = await fetch(endPoint);
    const movies = await response.json();
    console.log(movies);
    }

    logMovies();

    </script>
{% endblock %}

{% endblock %}
