{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Créer un compte client</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <div class="form-check mt-3">
            <input type="checkbox" id="show_password" name="show_password" class="form-check-input"/>
            <label for="show_password">Afficher le mot de passe</label>    
        </div>
        {{ form_row(registrationForm.agreeTerms) }}
        
        <button type="submit" class="btn btn-lg btn-primary">Valider</button>

    {{ form_end(registrationForm) }}

    {# bloc script afficher masque mot de passe  #}
    {% block javascripts %}
      
        <script>
            $(document).ready(function() {
                $('#registration_form_plainPassword').attr('type', 'password');
                $('#show_password').click(function() {
                    if ($('#registration_form_plainPassword').attr('type') == 'password') {
                        $('#registration_form_plainPassword').attr('type', 'text');
                    } else {
                        $('#registration_form_plainPassword').attr('type', 'password');
                    }
                });
            });
        </script>
    {% endblock %}
{% endblock %}
