{% extends 'base.html.twig' %}

{% block title %}Administration des marques{% endblock %}

{% block content %}
    <h1>Administration des marques</h1>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td>
                    <a href="{{ path('app_brand_show', {'id': brand.id}) }}">Voir</a>
                    <a href="{{ path('app_brand_edit', {'id': brand.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune données enregistrée pour le moment...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_brand_new') }}">Ajouter une marque</a>
{% endblock %}
