{% extends 'base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block content %}
    <h1>Administration des commentaires</h1>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Produit</th>
                {# <th>Author</th> #}
                <th>Commentaire</th>
                <th>Email</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
    
            <tr>
                <td>{{ comment.id }}</td>
                <td><a href="{{ path('app_product_show', {'id': comment.product.id}) }}">{{ comment.product.id }}</a></td>
                {# <td><a href="{{ path('app_user_show', {'id': comment.id}) }}">{{ comment.author }}</a></td> #}
                <td>{{ comment.text }}</td>
                <td>{{ comment.email }}</td>
                <td>
                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}">Voir</a>
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune données enregistrée pour le moment...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comment_new') }}">Nouveau</a>
{% endblock %}
