{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block content %}
    <h1>Commentaire de {{ comment.author }}</h1>

    <table class="table mt-3">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                <td><a href="{{ path('app_product_show', {'id': comment.product.id}) }}">{{ comment.product.name }}</a></td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ comment.text }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ comment.author }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ comment.email }}</td>
            </tr>

        </tbody>
    </table>

<div class="buttonContainer">
    <a href="{{ path('app_comment_index') }}" class="btn">Retour à la liste</a>
    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn">Modifier</a>
    {{ include('comment/_delete_form.html.twig') }}
</div>

{% endblock %}
