{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block content %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ListOrder</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.listOrder }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Voir</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune données enregistrée pour le moment...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Nouveau</a>
{% endblock %}
