{% extends 'base.html.twig' %}

{% block title %}AttributeValue index{% endblock %}

{% block body %}
    <h1>AttributeValue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attribute_value in attribute_values %}
            <tr>
                <td>{{ attribute_value.id }}</td>
                <td>{{ attribute_value.name }}</td>
                <td>
                    <a href="{{ path('app_attribute_value_show', {'id': attribute_value.id}) }}">show</a>
                    <a href="{{ path('app_attribute_value_edit', {'id': attribute_value.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_attribute_value_new') }}">Create new</a>
{% endblock %}
