 {# {{ form_start(form) }} #}
 {# add multipart to form start #}
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    
    {# Gestion des erreurs #}
    {{ form_errors(form) }}

 {{ form_row(form.name) }}
 {{ form_row(form.buyPrice) }}
 {{ form_row(form.sellingPrice) }}
 {{ form_row(form.catalogPrice) }}
 {{ form_row(form.visibility) }}
 {{ form_row(form.isInStock) }}
 {{ form_row(form.inStockQuantity) }}
 {{ form_row(form.reservedQuantity) }}
 {{ form_row(form.inSupplierOrderQuantity) }}
 {{ form_row(form.category) }}
 {{ form_row(form.subCategory) }}
 {{ form_row(form.productType) }}
 {{ form_row(form.brand) }}
 {{ form_row(form.description) }}

<h3 class="mt-3">Spécificités</h3>

    <section>
        {% if product.productData %}
        {% for index, data in product.productData %}
                <div>{{ data.key|capitalize }} : {{ data.value|capitalize }}</div>
        {% endfor %}
        {% else %}
            <div><p>Aucune spécificité renseigné pour ce produit</p></div>
        {% endif %}
    </section>
    
    <button type="button" class="add_item_link btn btn-primary" data-product-attributes="add">
        Ajouter
    </button>
    <button type="button" class="remove_item_link btn btn-danger" data-product-attribute="del">
        Supprimer
    </button>

    <div data-product-attributes="productData"
    data-index="{{ form.productData|length > 0 ? form.productData|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.productData.vars.prototype)|e('html_attr') }}"
    >
    </div>

<hr>

    {# Gestion de la collection d'images sur la propriété pictures - nécéssite le JS des balises script #}
    <h3>Images</h3>

    <div class="gallery_small">
    {% if product.pictures is not empty %}
        {% for picture in product.pictures %}
            {% if picture %}
                <img class="picture_XS" src="/uploads/files/pictures_XS/{{ picture.getFilename }}" alt="{{ picture.alt }}" id="{{ picture.id }}" title="{{ picture.name }}" >
            {% endif %}
        {% endfor %}
    {% else %}
        <div><p>Aucune image associé pour ce produit</p></div>
    {% endif %}
    </div>

    <button type="button" class="add_picture_link btn btn-primary" data-image="add">
        Ajouter</button>
    <button type="button" class="remove_picture_link btn btn-danger" data-image="del">
        Supprimer</button>

    <div data-image="pictures" 
    data-index="{{ form.pictures|length > 0 ? form.pictures|last.vars.fileName + 1 : 0 }}"
    data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}"
    >
    </div>

<hr>
    <button class="btn btn-success">{{ button_label|default('Enregistrer le produit') }}</button>

{{ form_end(form) }}

<script> 

// au clic sur le bouton ajouter on ajoute un input pour la collection d'attributs produit
$('button[data-product-attributes="add"]').on('click', function() {
    var $container = $('div[data-product-attributes="productData"]');
    var index = $container.children().length;
    var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Attribut n°' + (index+1))
        .replace(/__name__/g,        index)
    ;
    var $prototype = $(template);
    $container.append($prototype);
});

// au clic sur le bouton supprimer on supprime le dernier input de la collection d'attributs produit
$('button[data-product-attribute="del"]').on('click', function() {
    $('div[data-product-attributes="productData"]').children().last().remove();
});

// au clic sur le bouton ajouter on ajoute un input file dans le formulaire
$('button[data-image="add"]').on('click', function() {
    var $container = $('div[data-image="pictures"]');
    var index = $container.children().length;
    var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Image n°' + (index+1))
        .replace(/__name__/g,        index)
    ;
    var $prototype = $(template);
    $container.append($prototype);
});

// au clic sur le bouton supprimer on supprime le dernier input file du formulaire
$('button[data-image="del"]').on('click', function() {
    $('div[data-image="pictures"]').children().last().remove();
});
</script>