{% extends 'base.html.twig' %}

{% block title %}Editer {{ product.name }}{% endblock %}

{% block content %}
    <h1>Editer {{ product.name }}</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('product/_delete_form.html.twig') }}
    <button class="btn btn-success">
    <a href="{{ path('app_product_index') }}" style="color:white!important; text-decoration:none">Retour à la liste</a>
    </button>
{% endblock %}
