{% extends 'base.html.twig' %}

{% block title %}Administration des produits{% endblock %}

{% block content %}
    <h1>Administration des produits</h1>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>En ligne</th>
                <th>Dispo à la vente</th>
                <th>Qte en stock</th>
                <th>Qte réservé</th>
                <th>Qte en cmd fournisseur</th>
                <th>Images</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.visibility == 0 ? 'Non' : 'Oui'  }}</td>
                <td>{{ product.isInStock == 0 ? 'Non' : 'Oui' }}</td>
                <td>{{ product.inStockQuantity }}</td>
                <td>{{ product.onOrderQuantity }}</td>
                <td>{{ product.inSupplierOrderQuantity }}</td>
                
                <td>
                    {% if product.pictures is not empty %}
                        {% for picture in product.pictures %}
                            {% if picture %}
                                <img style="width: 50px;" src="/uploads/files/pictures_XS/{{ picture.getFilename }}" alt="{{ picture.alt }}" id="{{ picture.id }}" title="{{ picture.name }}">
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        Pas d'image
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">Voir</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune données enregistrée pour le moment...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Nouveau</a>
{% endblock %}
