{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block content %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Images</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>
                {% if product.pictures %}
                    {% for picture in product.pictures %}
                        {% if picture %}
                            <img style="width:50px" src="/uploads/files/pictures_XS/{{ picture.getFilename }}" alt="{{ picture.alt }}" id="{{ picture.id }}" title="{{ picture.name }}" >
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div> Aucune image associé pour ce produit </div>
                {% endif %}
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">Voir</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune données enregistrée pour le moment...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Nouveau</a>
{% endblock %}
