{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}


    <h1>{{ product.id }} | {{ product.name|title }}</h1>
    
    <hr>
    {% if product.category %}
    - Categorie : <a href="{{ path('app_category_show', { 'id': product.category.id }) }}">{{ product.category|capitalize }}</a>
    {% endif %}
    <br>
    {% if product.subCategory %}
    - Sous-Categorie : <a href="{{ path('app_sub_category_show', { 'id': product.subCategory.id }) }}"> {{ product.subCategory|capitalize }}</a>
    {% endif %}
    <br>
    {% if product.productType.name %}
    - Type de produit : <a href="{{ path('app_product_type_show', { 'id': product.productType.id }) }}"> {{ product.productType.name|capitalize }}</a>
    {% endif %}
    <br>
    <hr>
    - Propriétés du produit
        <ol>
            <li>Nom : {{ product.name }}</li>
            <li>Stock : {{ product.inStockQuantity }}</li>
            <li>Visible : {{ (product.visibility) ? 'Oui' : 'Non' }}</li>
            <li>Prix catalogue : <del>{{ product.catalogPrice }} €</del></li>
            {% set discount = (product.catalogPrice - product.sellingPrice ) / product.catalogPrice * 100 %}
            <li>Réduction : <span style='color:yellow'>{{ discount|round(1) }} % </span></li> 
            <li>Prix : {{ product.sellingPrice }} €</li>
            <li>Marque : {{ product.brand }}</li>
        </ol>

    <hr>

    - Liste des caractéristiques de CE produit (ProductData de la Class Product)
    <hr>
        <ol>
        {% for index, data in product.productData %}
                <li>{{ data.key|capitalize }} : {{ data.value|capitalize }}</li>
        {% endfor %}
        </ol>
    <hr>


    - Commentaires liés au produit
    <hr>
    {% for index, comment in product.comments %}
        <ol>
            <li>Posté par : {{ comment.author }}</li>
            <li>Commentaire : {{ comment.text }}</li>
        </ol>
    {% endfor %}




    <a href="{{ path('app_product_index') }}">back to list</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}

