{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <h1>{{ product.id }} | {{ product.name|capitalize }}</h1>
    
    <hr>
    Categorie : <a href="{{ path('app_category_show', { 'id': product.category.id }) }}">{{ product.category|capitalize   }}</a>
    <br>
    Sous-Categorie : <a href="{{ path('app_sub_category_show', { 'id': product.subCategory.id }) }}"> {{ product.subCategory|capitalize }}</a>

    <hr>
    Propriétés produit
    
    <hr>
    Nom : {{ product.name }}<br>
    Stock : {{ product.inStockQuantity }}<br>
    Prix : {{ product.sellingPrice }} €<br>

    <hr>
    Attributs liés au produit

    <hr>
    Type : {{ product.productType.name|capitalize }}<hr>

        {% for index, attribute in product.productType.attributes %}    
           Attribut {{ index + 1 }} lié à {{ product.productType.name|capitalize }} est : {{ attribute.name|capitalize }}
        
        <ol>
        {% for index, value in attribute.attributeValues %}  
            <hr>Valeur {{ index + 1 }} de l'attribut {{ attribute.name|capitalize }} : {{ value.name|capitalize }}<hr>
            {# <li>{{ value.name|capitalize }}</li> #}
        {% endfor %}
        </ol>
    {% endfor %}


    <a href="{{ path('app_product_index') }}">back to list</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
