{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{# on fait les metas pour la fiche product  #}
{% block og_tags %}
    <meta property="og:title" content="{{ product.name|title }}">
    <meta property="og:description" content="Description du Produit">
    {% for picture in product.pictures %}
        {% if picture %}
            {% if loop.first %}
                <meta property="og:image" content="/uploads/files/pictures_400/{{ picture.getFilename }}">
            {% endif %}
        {% endif %}
        {% else %}
        <meta property="og:image" content="/assets/pictures/defaultSneakersPicture.webp">
        {% endfor %}
{% endblock og_tags %}

{% block content %}

<h1 class="mb-2">{{ product.name|title }}</h1>

<div class="product_header">
    
    <div class="col-md-7 gallery">
    {% for picture in product.pictures %}
        {% if picture %}
            {# get just last picture #}
            {% if loop.first %}
                <img class="last-five-picture" src="/uploads/files/pictures_400/{{ picture.getFilename }}" alt="{{ picture.alt }}" >
            {% endif %}
        {% endif %}
        {% else %}
        <img class="last-five-picture" src="/assets/pictures/defaultSneakersPicture.webp" alt="" loading="lazy">
    {% endfor %}

    <div class="gallery_small">
    {% for picture in product.pictures %}
        {% if picture %}
            <img class="picture_XS" src="/uploads/files/pictures_XS/{{ picture.getFilename }}" alt="{{ picture.alt }}" id="{{ picture.id }}" title="{{ picture.name }}" >
        {% endif %}
    {% endfor %}
    </div>
    </div>

    <div class="product_info col-md-4">
    {% if product.category %}
    <h5><a href="{{ path('app_category_show', { 'id': product.category.id }) }}">Categorie :  {{ product.category|capitalize }}</a></h5>
    <hr>
    {% else %}
    <h6> Aucune categorie renseigné pour ce produit </h6>
    <hr>
    {% endif %}

    {% if product.subCategory %}
    <h6><a href="{{ path('app_sub_category_show', { 'id': product.subCategory.id }) }}">Sous-Categorie : {{ product.subCategory|capitalize }}</a></h6>
    <hr>
    {% else %}
    <h6> Aucune sous-categorie renseigné pour ce produit </h6>
    <hr>
    {% endif %}

    {% if product.productType.name %}
    <a href="{{ path('app_product_type_show', { 'id': product.productType.id }) }}">Type de produit :  {{ product.productType.name|capitalize }}</a>
    <hr>
    {% else %}
    <h6> Aucun type de produit renseigné pour ce produit </h6>
    <hr>
    {% endif %}
        <div class="last-five">
        <h3 class="mb-2"> Propriétés du produit </h3>
            <ol>
                <li>Id : {{ product.id }}</li>
                <li>Nom : {{ product.name }}</li>
                <li>Stock : {{ product.inStockQuantity }}</li>
                <li>Visible : {{ (product.visibility) ? 'Oui' : 'Non' }}</li>
                <li>Prix catalogue : <span class="catalogPrice"><del>{{ product.catalogPrice|round(0) }} €</del></span></li>
                {% set discount = (product.catalogPrice - product.sellingPrice|round(0) ) / product.catalogPrice * 100 %}
                <li>Réduction : <span class="dicountPrice">{{ discount|round(0) }} % </span></li> 
                <li>Prix : <span class="price">{{ product.sellingPrice|number_format(0, ',', ' ') }} €</span></li>
                <li>Marque : {{ product.brand }}</li>
            </ol>
        </div>
    <hr>
    <div class="last-five">
    <h3> Ajouter au panier </h3>
        {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
        <div class="form-group">
            {{ form_label(form.quantity) }}
            {{ form_widget(form.quantity, {
                'attr': {
                    'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                }
            }) }}
            <div class="invalid-feedback">
                {# {{ form_errors(form.quantity) }} #}
            </div>
        </div>
        {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning'}}) }}
        {{ form_end(form) }}
        <a href="{{ url('app_cart') }}" class="btn btn-primary mt-4">Voir mon panier</a>
    </div>
</div>

<div class="product_info_comp">
    <h3> Caractéristiques du produit :</h3>
    <hr>
       
        {% if product.productData %}
            {% for index, data in product.productData %}
                <div>
                    {{ data.key|capitalize }} : {{ data.value|capitalize }}
                </div>
            {% endfor %}
        {% else %}
            <div>Aucune caractéristique renseigné pour ce produit</div>
        {% endif %}
    <hr>
    <h3> Commentaires :</h3>
    <hr>
    {% if product.comments|length == 0 %}
        <div>Aucun commentaire pour ce produit</div>
    <hr>
    {% else %}
    {% for index, comment in product.comments %}
        <div>
            <span><h6><i class="bi bi-person-circle"></i> {{ comment.author|upper }}</h6></span>
            <span><p><i class="bi bi-chat-square-text-fill"></i> {{ comment.text }}</p></span>
        </div>
    <hr>
    {% endfor %}
    {% endif %}

    {# <a href="{{ path('app_product_index') }}">Retour à la liste</a>
    <a href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>
    {{ include('product/_delete_form.html.twig') }} #}
    </div>
    
    {# liked products #}
    <div class="last-five swiper">
    <h3>Produits similaires à {{ product.name }} dans {{ product.subCategory.name }}</h3>
    <div class="last-five-products-related swiper-wrapper">
    {% for product in relatedProducts %}
            <section class="swiper-slide">
                <h6>{{ product.name|upper }}</h6>
                {% for picture in product.pictures %}
                    {% if picture %}
                        {# get just last picture #}
                        {% if loop.last %}
                            <img class="last-five-picture" src="/uploads/files/pictures_400/{{ picture.getFilename }}" alt="{{ picture.alt }}" >
                        {% endif %}
                    {% endif %}
                    {% else %}
                    <img class="last-five-picture" src="/assets/pictures/defaultSneakersPicture.webp" alt="" loading="lazy">
                {% endfor %}
                <span class="catalog-price"><del>{{ product.catalogPrice }} €</del></span>
                <span class="selling-price">{{ product.sellingPrice|number_format(0, ',', ' ') }} €</span>
                <div class="productInfo">
                    {% if product.category is not empty %}
                    <span class="categorie">Categorie : {{ product.category.name }}</span>
                    {% endif %}
                    {% if product.subCategory is not empty %}
                    {# {% for subCategory in product.subCategory %} #}
                        <span class="sous-categorie">Sous-categorie : {{ product.subCategory }}</span>
                    {# {% endfor %} #}
                    {% endif %}
                    <span class="type">Type : {{ product.productType }}</span>
                </div>
                <div class="productInfoFooter">
                    {% set discount = (product.catalogPrice - product.sellingPrice ) / product.catalogPrice * 100 %}
                    <span>-{{ discount|round }}%</span> 
                    <span class="productLink"><a href="{{ path('app_product_show', {'id': product.id}) }}">Détail</a></span>
                </div>
            </section>
        {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <dialog id="gallery_dialog" class="fade-dialog">
    </dialog>

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
    {# https://swiperjs.com/get-started #}
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>

document.addEventListener('DOMContentLoaded', () => {
    const swiper = new Swiper('.swiper', {
    // use arrows to navigate
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
        clickable: true,
        dynamicBullets: true,
        dynamicMainBullets: 5,
    },

    // Optional parameters
    slidesPerView: 4,
    direction: 'horizontal',
    

    autoplay: {
        delay: 3000,
        // stop slide autoplay when user click on it
        disableOnInteraction: true,
    },

    transitionEffect: 'slide',

    loop: true,
    centeredSlides: true,

    // theme color
    // scrollbar: {
    //     el: '.swiper-scrollbar',
    //     draggable: true,
    //     dragSize: 100,
    //     snapOnRelease: true,
    //     hide: false,
    //     },

    // Responsive breakpoints
    breakpoints: {
        // when window width is >= 320px
        320: {
        slidesPerView: 1,
        spaceBetween: 10
        },
        // when window width is >= 480px
        480: {
        slidesPerView: 2,
        spaceBetween: 20
        },
        // when window width is >= 640px
        640: {
        slidesPerView: 3,
        spaceBetween: 30
        },
        1024: {
        slidesPerView: 4,
        spaceBetween: 40
        }
    }
});
});

// ouvre l'image de la gallery gallery_small dans un modal en grand format
// fondu ouverture et fermeture géré en css avec transition et opacity 
const pictures = document.querySelectorAll('.picture_XS');
const dialog = document.getElementById('gallery_dialog');

pictures.forEach(picture => {
    picture.addEventListener('click', () => {
        
        dialog.classList.add('open'); 

        dialog.showModal();

        const img = document.createElement('img');
        img.src = '/uploads/files/pictures/' + picture.src.split('/').pop();
        img.alt = picture.alt;
        img.title = picture.title;
        img.classList.add('gallery_dialog_img');
        dialog.append(img);
    });
});

dialog.addEventListener('click', () => {
    dialog.classList.remove('open'); // On enlève 'open' pour fermer la modal avec effet de fondu
    // timeout pour laisser le temps à la transition de se faire avant de fermer la modal
    setTimeout(() => {
        dialog.close();
        dialog.innerHTML = '';
    }, 500);
});

</script>

{% endblock %}

{% endblock %}