{% extends 'base.html.twig' %}

{% block title %}Sous catégories{% endblock %}

{% block content %}
    <h1>Administration des sous-catégories</h1>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Catégorie parente</th>
                <th>Sous-catégorie</th>
                <th>Ordre d'affichage</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
        {% for sub_category in sub_categories %}
            <tr>
                <td>{{ sub_category.id }}</td>
                <td>{{ sub_category.getCategoryName }}</td>
                <td>{{ sub_category.name }}</td>
                <td>{{ sub_category.listOrder }}</td>
                <td>
                    <a href="{{ path('app_sub_category_show', {'id': sub_category.id}) }}">Voir</a>
                    <a href="{{ path('app_sub_category_edit', {'id': sub_category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune données enregistrée pour le moment...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sub_category_new') }}" class="btn">Ajouter une sous-catégorie</a>
{% endblock %}
