{% extends 'base.html.twig' %}

{% block title %}{{ sub_category.getCategoryName }} - {{ sub_category.name }}{% endblock %}

{% block content %}
    <h1>Produits de la sous-categorie {{ sub_category.name }}</h1>

{% if app.user and is_granted('ROLE_ADMIN') %}
    <table mt-3 class="table mt-3">
        <tbody>
            <tr>
                <th>Identifiant de le sous catérorie</th>
                <td>{{ sub_category.id }}</td>
            </tr>
            <tr>
                <th>Nom de la sous-catégorie</th>
                <td>{{ sub_category.name }}</td>
            </tr>
            <tr>
                <th>Ordre d'affichage dans le menu de navigation</th>
                <td>{{ sub_category.listOrder }}</td>
            </tr>
        </tbody>
    </table mt-3>
    <a href="{{ path('app_sub_category_index') }}" class="btn">Liste des sous-categories</a>
    <a href="{{ path('app_sub_category_edit', {'id': sub_category.id}) }}" class="btn">Modifier {{ sub_category.name }} </a>
    {{ include('sub_category/_delete_form.html.twig') }}
    <hr>
{% endif %}  
    <hr>
    <h3>De la catégorie : {{ sub_category.getCategoryName }}</h3>

    <div class="last-five swiper">
        <div class="last-five-products">
        {% for product in products %}
            {% if product.getSubCategory.getName == sub_category.name %}
                <section>
                    {% include '_fragments/_product_object.html.twig' %} 
                </section>  
            {% endif %}
        {% endfor %}
        </div>
    </div>

{% endblock %}
