{% extends 'base.html.twig' %}

{% block title %}Type de produit{% endblock %}

{% block content %}
    <h1>Type de produit {{ product_type.name|upper }}</h1>
{% if app.user and is_granted('ROLE_ADMIN') %}
    <table class="table mt-3">
        <tbody>
            <tr>
                <th><th>Identifiant</th></th>
                <td>{{ product_type.id }}</td>
            </tr>
            <tr>
                <th>Nom du type de produit</th>
                <td>{{ product_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_product_type_index') }}" class="btn">Retour à la liste</a>
    <a href="{{ path('app_product_type_edit', {'id': product_type.id}) }}" class="btn">Modifier</a>
    {{ include('product_type/_delete_form.html.twig') }}
{% endif %}  
    <div class="last-five swiper">
        <div class="last-five-products">
        {% for product in product_type.products %}
            {% if product.productType.getName == product_type.name %}
                <section>
                    {% include '_fragments/_product_object.html.twig' %} 
                </section>  
            {% endif %}
        {% endfor %}
        </div>
    </div>

{% endblock %}
