{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{# slider #}
<div class="slider">
<img class="slider-picture" src="https://media.gq.com/photos/561ecfd8680c08be3c199b65/16:9/w_1280,c_limit/clean-white-shoes-01_1024.jpg" alt="">
</div>



{# ajouter les liens vers les catégories #}
{# <div class="home-cat">
    <section>HOMME</section>
    <section>FEMME</section>
    <section>ENFANT</section>
    <section>ACCESSOIRES</section>
    <section>SOLDES</section>
</div> #}

<div class="page-container">

{# barre laterale #}
{% include '_fragments/_aside.html.twig' %} 

<div class="last-five">
{# résultats de la recherche #}
{% include '_fragments/_searchResults.html.twig' %} 

{# {% if lastfive is defined %} #}
    {% for category in lastFive %}
        {% if category is defined %}
                <h2>{{ category.name|upper }}</h2>
                {% for subCategory in category.subCategories %}
                    {{ category.name|upper }} {{ subCategory.name|upper }}
                    <div class="last-five-products">
                    
                    {% for product in subCategory.products|slice(0, 5) %}
                    {% if product.category.name == category.name %}
                    <section>
                    
                        <h6> {{ product.name|upper }}</h6>
                        <img class="last-five-picture" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/acc1f836e10a4c1191dbae2801556d8d_9366/Chaussure_Ultraboost_5_DNA_Running_Sportswear_Lifestyle_Blanc_GV8747_01_standard.jpg" alt="">
                                    
                            <span class="catalog-price"><del>{{ product.catalogPrice }} €</del></span>
                            <span class="selling-price">{{ product.sellingPrice }} €</span>
                        <div class="productInfo">
                            <span class="categorie">Catagorie : {{ product.category }}</span>
                            <span class="sous-categorie">Sous-categorie : {{ product.subCategory }}</span>
                            <span class="type">Type : {{ product.productType }}</span>
                        </div>

                        <div class="productInfoFooter">
                        {% set discount = (product.catalogPrice - product.sellingPrice ) / product.catalogPrice * 100 %}
                            <span>-{{ discount|round }}%</span> 
                            <span class="productLink"><a href="{{ path('app_product_show', {'id': product.id}) }}">Détail</a></span>
                        </div>
                            
                            

                    </section>
                    {% endif %}
                    {% endfor %}
                    </div>
                    
                {% endfor %}
        {% endif %}
    {% endfor %}
{# {% endif %} #}
</div>

</div>
{% endblock %}
