{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{# slider #}
<div class="slider">
<img class="slider-picture" src="https://media.gq.com/photos/561ecfd8680c08be3c199b65/16:9/w_1280,c_limit/clean-white-shoes-01_1024.jpg" alt="">
</div>

{# ajouter les liens vers les catégories #}
<div class="home-cat">
    <section>HOMME</section>
    <section>FEMME</section>
    <section>ENFANT</section>
    <section>ACCESSOIRES</section>
    <section>SOLDES</section>
</div>

<div class="last-five">
    {% for category in lastFive %}
        {% if category is defined %}
                <h2>{{ category.name|upper }}</h2>
                {% for subCategory in category.subCategories %}
                    {{ subCategory.name|upper }}
                    <div class="last-five-products">
                    
                    {% for product in subCategory.products|slice(0, 5) %}
                    {% if product.category.name == category.name %}
                    <section>
                    
                        <h6> {{ product.name|upper }}</h6>
                        <img class="last-five-picture" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/acc1f836e10a4c1191dbae2801556d8d_9366/Chaussure_Ultraboost_5_DNA_Running_Sportswear_Lifestyle_Blanc_GV8747_01_standard.jpg" alt="">
                        <span class="selling-price">{{ product.sellingPrice }} €</span>
                        <span class="categorie">Catagorie : {{ product.category }}</span>
                        <span class="sous-categorie">Sous-categorie : {{ product.subCategory }}</span>
                        <span class="type">Type : {{ product.productType }}</span>
                    
                    </section>
                    {% endif %}
                    {% endfor %}
                    </div>
                    
                {% endfor %}
        {% endif %}
    {% endfor %}
</div>








<div class="form-container">
{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
{{ form_end(form) }}

<form action="{{ path('app_home') }}" method="post">
<button type="submit" id="reset_submit" name="resetSearch" value="reset" class="btn btn-info">Reset</button>
</form> 
</div>


{% if searchResults is not defined or searchResults|length is same as 0 %}
{% if searchValue is defined and searchValue|length > 0 %}
<div class="container">
    <div style="border:1px solid white; padding:30px; border-radius:20px; margin: 20px 0">
        <ol>
            <li>Pas de produit trouvé pour la recherche : {{ searchValue }}</li>
        </ol>
    </div>
    {% endif %}
{% endif %}

{% if searchResults is defined and searchResults|length is not same as 0 %}
    <div style="border:1px solid white; padding:30px; border-radius:20px; margin: 20px 0">
    Resultat de la recherche : 
        <ul>
            {% for product in searchResults %}
                <li> <a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name|upper }}</a></li>
                <ul>
                    <li>Prix public : <del>{{ product.catalogPrice }} €</del></li>
                    <li>Prix de vente : {{ product.sellingPrice }} €</li>
                        {% set discount = (product.catalogPrice - product.sellingPrice ) / product.catalogPrice * 100 %}
                    <li>Réduction : {{ discount|round(1) }} %</li>  
                </ul>
            {% endfor %}
        </ul>
    </div
</div>
{% endif %}

<div class="container">
    {# loop on categories #}
<ol>
    {% for category in cats %}
        <li>
            <h2 style="color:red">CATEGORIE : {{  category.name|upper }}</h2>
        </li>
        {# loop on Subcategories of each category #}
        {% if category.subCategories|length == 0  %}
            <ol>
                <li> - Pas de sous catégorie dans la catégorie {{ category.name }}</li>
            </ol>
        {% endif %}
         
        {% for subCat in category.subCategories %}
        <ol>
            <li>
                <h4 style="color:yellow">SOUS-CATEGORIE : {{ subCat.name|upper }}</h4>
            </li>

            {# loop on productType of each subcategory #}
            {% for type in subCat.productType %}

            <ol>
                <li>
                    <h5 style="color:green">TYPE DE PRODUIT : {{ type.name|upper }}</h5>
                </li>

                {# loop on products of each subCat products #}
                {% for product in subCat.products %}

                {# si produit  #}
                {% if product.visibility == true %}

                    {# check if product is of the same type and category to order display #}
                    {% if product.category.name == category.name %} 
                        <div style="border: 1px solid white; padding:30px; margin: 20px 0"> 
                            
                            <li><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name|upper }}</a></li>
                            
                                <ol>
                                    <li>Marque : {{ product.brand }}</li>
                                    <li>Prix public : <del>{{ product.catalogPrice }} €</del></li>
                                    <li>Prix de vente : {{ product.sellingPrice }} €</li>
                                        {% if (product.catalogPrice - product.sellingPrice ) > 0 %}
                                            {% set discount = (product.catalogPrice - product.sellingPrice ) / product.catalogPrice * 100 %}
                                    <li>Réduction : {{ discount|round(1) }} %</li>  
                                        {% endif %}
                                    {% if product.inStockQuantity > 0 %}
                                    <br>
                                        <li> 🟢 {{ product.inStockQuantity }} En stock</li>
                                    {% else %}
                                    <br>
                                        <li> 🟠 En rupture de stock</li>
                                    {% endif %} 
                                    
                                    <div style="border: 1px solid grey; padding:30px; margin: 20px 0; text-align:right">
                                        <ol>
                                            <li> Catégorie : {{ product.category.name }}</li>
                                            <li> Sous catégorie : {{ product.subCategory.name }}</li>
                                            <li>Type de produit : {{ product.productType.name }}</li>     
                                        </ol>
                                    </div>
                                </ol>

                        </div>
                    {% else %}
                        {# je n'affiche rien au passage de la boucle sur le produit qui n'est pas de la même categorie  #}
                    {% endif %}
                    
                {% endif %}
                    
                {% endfor %}
            </ol>
             {% endfor %}  
        </ol> 
        {% endfor %}
    <br> {#  fin de boucle categories #}
    {% endfor %}
<ol>
</div>
{% endblock %}
