{% extends 'base.html.twig' %}

{% block title %}User account{% endblock %}

{% block content %}
<h1>Bonjour {{ user.email }}</h1>
{% for status, orders in ordersByStatus %}

<hr>
    <div class="example-wrapper">
    {% if status == 'new' %}
        {% set statusLabel = 'Nouvelle commande' %}
        {% set statusLabelPlural = 'Nouvelles commandes' %}
        {% set paymentStatus = 'En attente de paiment' %}
    {% elseif status == 'pending' %}
        {% set statusLabel = 'Commande en attente de paiement' %}
        {% set statusLabelPlural = 'Commandes en attente de paiement' %}
        {% set paymentStatus = 'En attente' %}
    {% elseif status == 'paid' %}
        {% set statusLabel = 'Commande payée' %}
        {% set statusLabelPlural = 'Commandes payées' %}
        {% set paymentStatus = 'Payée' %}
    {% elseif status == 'preparing' %}
        {% set statusLabel = 'Commande en cours de préparation' %}
        {% set statusLabelPlural = 'Commandes en cours de préparation' %}
        {% set paymentStatus = 'En cours de préparation' %}
    {% elseif status == 'shipped' %}
        {% set statusLabel = 'Commande expédiée' %}
        {% set statusLabelPlural = 'Commandes expédiées' %}
        {% set paymentStatus = 'Expédiée' %}
    {% elseif status == 'completed' %}
        {% set statusLabel = 'Commande terminée' %}
        {% set statusLabelPlural = 'Commandes terminées' %}
        {% set paymentStatus = 'Terminée' %}
    {% elseif status == 'cancelled' %}
        {% set statusLabel = 'Commande annulée' %}
        {% set statusLabelPlural = 'Commandes annulées' %}
        {% set paymentStatus = 'Annulée' %}
    {% endif %}

    <h2 class="mb-3">{{ orders|length > 1 ? statusLabelPlural : statusLabel }}</h2>

        {% if orders is not empty %}
            {% for order in orders %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title">Commande #{{ order.id }}</h3>
                        <ol>
                            <li class="card-text">Du: {{ order.createdAt|date('Y-m-d H:i:s') }}</li>
                            <li class="card-text">Total: {{ order.getTotal|number_format(2, ',', ' ') }} €</li>
                            <li class="card-text">Statut de la commande: {{ paymentStatus }}</li>
                        </ol>
                        <h3 class="card-title">{{ order.items|length > 1 ? 'Produits' : 'Produit' }}</h3>
                        {% for item in order.items %}
                            <ol>
                                <li class="card-text">Produit: {{ item.product.name }}</li>
                                <li class="card-text">Quantité: {{ item.quantity }}</li>
                                <li class="card-text">Prix: {{ item.product.sellingPrice|number_format(2, ',', ' ') }} €</li>
                            </ol>
                        {% endfor %}
                        
                        {% if status == 'new' %}
                            <a href="{{ path( 'app_order_process' , {'id': order.id} ) }}" class="btn btn-primary">Valider cette commande</a>
                            <a href="{{ path( 'app_order_cancel' , {'id': order.id} ) }}" class="btn btn-primary mt-3">Supprimer cette commande</a>
                        {% elseif status == 'pending' %}
                            <a href="{{ path( 'app_order_process' , {'id': order.id} ) }}" class="btn btn-primary">Valider cette commande</a>
                            <a href="{{ path( 'app_order_cancel' , {'id': order.id} ) }}" class="btn btn-primary mt-3">Supprimer cette commande</a>
                        {% elseif status == 'shipped' %}
                            <a href="#" class="btn btn-primary mt-3">Suivre ma commande</a>
                        {% elseif status == 'completed' %}
                            <a href="#" class="btn btn-primary mt-3">Obtenir la facture</a>
                        {% elseif status == 'cancelled' %}
                            <a href="{{ path( 'app_order_process' , {'id': order.id} ) }}" class="btn btn-primary">Valider cette commande</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune commande {{ orders|length > 1 ? statusLabelPlural|lower : statusLabel|lower }}</p>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}
