{% extends 'base.html.twig' %}

{% block title %}Administration des configuration{% endblock %}

{% block content %}
    <h1>Configuration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Durée de vie du cache</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
        {% for configuration in configurations %}
            <tr>
                <td>{{ configuration.id }}</td>
                <td>{{ configuration.cacheDuration }}</td>
                <td>
                    <a href="{{ path('app_configuration_show', {'id': configuration.id}) }}">voir</a>
                    <a href="{{ path('app_configuration_edit', {'id': configuration.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée de configuration enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_configuration_new') }}">Créer une configuration</a>
{% endblock %}
